beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
flake8==7.2.0
idna==3.10
iniconfig==2.1.0
lxml==5.3.1
mccabe==0.7.0
packaging==24.2
pluggy==1.5.0
pycodestyle==2.13.0
pyflakes==3.3.2
pytest==8.3.5
python-dotenv==1.1.0
requests==2.32.3
setuptools==79.0.1
soupsieve==2.6
typing_extensions==4.13.1
urllib3==2.3.0
webdriver-manager==4.0.2
